# package directories
node_modules
jspm_packages

# Nuxt
.nuxt

# Serverless directories
.serverless

# Webpack build directories
.webpack

# secret
secrets.json
certs/

# docker
docker-compose.override.yml

