{
    "NODE_ENV": "",
    "AWS_REGION": "eu-west-3",
    "JWT_SIGN_ALGORITHM": "HS256", 
    "JWT_PRIVATE_KEY": "name-of-the-aws-ssm-secret",
    "SSM_ARN": "arn:aws:secretsmanager:region:...",
    "KMS_ARN": "arn:aws:kms:region:...",
    "DDB_ARN": "arn:aws:dynamodb:region:...",
    "DDB_ARN_INVITATION": "arn:aws:dynamodb:region:...:invitation",
    "SQS_ARN_INVITATION": "arn:aws:sqs:region:...:invitation",
    "SQS_URL_INVITATION": "https://sqs.region.amazonaws.com/.../invitation"
}